/*html, body, #map-canvas {
  height: 10%;
  margin: 0px;
  padding: 0px
}*/

.popin{
  background:#fff;
  padding:15px;
  box-shadow: 0 0 20px #999;
  border-radius:2px;
}

#map-canvas,
#panorama {
  height:300px;
  background:#6699cc;
}
