html, body {
  height: 100%;
}
body {
  padding-top: 50px;
}
.navbar-custom .icon-bar {
  background-color: #fff;
}
.navbar-custom {
  background-color: #168ccc;
  color: #fff;
}
.navbar-custom li>a:hover, .navbar-custom li>a:focus {
  background-color: #49bfff;
}
.navbar-custom a {
  color: #fefefe;
}
.navbar-custom .form-control:focus {
  border-color: #49bfff;
  outline: 0;
  -webkit-box-shadow: inset 0 0 0;
  box-shadow: inset 0 0 0;
}
/*#main, #main>.row {
	height:100%;
}*/
/* all map containers must be full height */

html, body, .container-fluid, .row {
  height: 100%
}
#map-canvas {
  width: 100%;
  height: 100%;
  height: calc(100% - 0px);
}
.map {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
